@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Links */
a {
  text-decoration: none;
}

a,
a:focus,
a:hover {
  color: #333;
}

* {
  box-sizing: border-box;
}

/*
 * Base structure
 */
html {
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: #f6f6f6;
}

body {
  color: #555;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 300px; /* For the footer */
  font-size: 14px;
  line-height: 1.42857143;
}

p {
  text-align: left;
}

img {
  display:block;
}

/* Padding for spacing */
.main {
  padding: 30px;
  padding-top: 0;
}

h1, h2, h3, h4, h5 {
  text-align: left;
}

.main ul {
  text-align: left;
}

/* All of the below (between comments) is adapted from Bootstrap, trying to keep site size down as low as possible */
/* clearfix */
.clearfix:before, .clearfix:after, .container:before, .container:after, .col-2:before, .col-2:after, .col-3:before, .col-3:after, .row:before, .row:after {
    display: table;
    content: " ";
    clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-3, .col-2 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: 700px) {
  .col-3 {
    float: left;
  }

  .col-3 {
    width: 33.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-2 {
    float: left;
  }

  .col-2 {
    width: 50%;
  }
}

.navbar {
  z-index: 2;
  margin-bottom: 20px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  min-height: 50px;
}

.navbar-nav {
  list-style: none;
  float: right;
  margin: 0;
  margin-right: 25px;
}

.navbar-nav>li {
  float: left;
  position: relative;
  display: block;
}

.navbar-nav>li>a {
  position: relative;
  display: block;
  margin: 15px 15px;
  margin-bottom: 1px;
  line-height: 20px;
}

.navbar-nav>li>a:hover {
  transition: .5s ease;
  color: #555;
}

.navbar-nav>li>a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: #ffa200;
  transition: width .5s ease;
}

.navbar-nav>li>a:hover:after {
  width: 100%;
  background: #ffa200;
}

.navbar-nav>li.active>a:after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  transition: .25s ease;
  background: #BF211E;
}

.navbar-nav>li.active>a:hover:after {
  background: #BF211E;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  margin-top: -4px;
  background: #ffa200;
  transition: width .4s ease;
}

.navbar-brand:hover:after {
  width: 100%;
  background: #ffa200;
}

.navbar-header {
  float: left;
}
/* End Bootstrap */

.masthead {
  background-color: #e6e6e6;
  color: #333;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.masthead:after {
  content: '';
  display: block;
  width: 100%;
  /*height: 100%;*/
  bottom: -15px;
  position: absolute;
  border-top: 10px solid #333;
  border-bottom: 5px solid #ffa200;
}

.masthead canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.masthead .title {
  font-size: 3em;
  position: relative;
  z-index: 1;
}

.masthead .subtitle {
  position: relative;
  z-index: 1;
}

.footer a,
.footer a:focus,
.footer a:hover {
  color: #fff;
}

.footer {
  border-top: 5px solid #03B5AA;
  background-color: #333;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 300px;
}

.footer .inner {
  padding: 30px;
}

.footer .panel {
  display: block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px
  height: 75%;
}

.footer .about {
  padding: 15px;
  width: 50%;
  text-align: left;
}

.footer .social {
  padding-top: 10px;
  border-left: 1px solid #555;
  width: 50%;
}

@media (max-width: 630px) {
  .footer .about {
    display: none !important;
  }

  .footer .social {
    width: 100%;
  }
}

.footer .small-copyright {
  margin-top: 10px;
}

@media (min-width: 631px) {
  .footer .small-copyright {
    display: none !important;
  }
}

.footer .social .fa {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding-top: 12px;
  border: 0;

  font-size: 2.5em;
  transition: background-color 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.footer .social .fa:hover {
  background-color: #555;
}

.sr-only {
  display: none;
}

.project-card {
  border-radius: 3px;
  color: #222;
  margin-bottom: 8px;
  border: 3px solid rgba(0, 0, 0, 0);
}

.project-card.active {
  border: 3px solid #03B5AA;
}

.project-card > .card-img > img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-card > .info {
  padding-top: 5px;
  text-align: left;
  padding-left: 15px;
}

a.div-linker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.project-card a {
  color: #222;
}

/* TODO: Change styling */
.portfolio-main {
  position: relative;
  margin: 10px auto;
  max-width: 950px;
  border-radius: 3px;
}

.portfolio-main img, .portfolio-thumb img {
  max-width:100%;
  max-height:100%;
}

.portfolio-thumb {
  padding: 0px;
  width: 80px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px #888;
  border-radius: 3px;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.portfolio-thumb:hover {
  cursor: pointer;
  opacity: 1.0;
}

.portfolio-thumb.active {
  opacity: 1.0;
}

.games {
  margin-top: 40px;
}

.game-card {
  margin: 8px auto;
  max-width: 900px;
  border-radius: 10px;
}

.game-card > .game-image {
  position: relative;
  overflow: hidden;
  background-color: rgb(85, 85, 85);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.game-card > .game-image > img {
  min-height: 190px;
  max-width: 150%;
  position: relative;
}

@media (min-width: 1200px) {
  .game-card > .game-image > img {
    left: -50%; /* Re-center the image, as it stretches */
  }
}

@media (max-width: 690px) {
  .game-card > .game-image > img {
    left: -50%; /* Re-center the image, as it stretches */
  }
}

.game-card > .header {
  padding: 5px;
  padding-left: 12px;
  background: #02040F;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-align: left;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.game-card > .header > .info {
  padding-right: 10px;
  padding-top: 3px;
  float: right;
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 760px) {
  .game-card > .header > .info {
    display: none !important;
  }
}

.game-card > .header > .work {
  margin-left: 10px;
  font-weight: normal;
  color: #BF211E;
}

@media (max-width: 540px) {
  .game-card > .header > .work {
    display: none !important;
  }
}

.horiz-list-item:before {
  color: white;
  content: '\002022';
  margin: 0 7px;
}

.game-card > .header.header-c1 {
  border-bottom: 5px solid white;
}

.game-card > .header.header-c2 {
  border-bottom: 5px solid #BF211E;
}

.game-card .caption {
  position: absolute;
  bottom: 100%;
  left: 0;
  overflow: hidden;
  height: 0;
  background: white;
  width: 100%;
  text-align: left;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;

  transition: all 500ms cubic-bezier(0.25, 0.02, 0.04, 1.0);
}

.game-card .caption > .inner {
  padding: 12px;
}

.game-card.active .caption {
  bottom: 0;
  height: 100%;
}

.hover-card {
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  position: relative;
}

.project-card {
  transition: all 500ms cubic-bezier(0.19, 1.0, 0.22, 1.0);
  transform: translateY(0) scale(0.95, 0.95);
}

.project-card.active {
  box-shadow: 0 11px 18px rgba(0,0,0,0.2);
  transform: translateY(-20px) scale(1, 1);
}
