@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

/*
 * Base structure
 */
html {
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: #f6f6f6;
}

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

body {
  color: #555;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 150px; /* For the footer */
  font-size: 16px;
  line-height: 1.5;
}

p {
  text-align: left;
}

img {
  display:block;
}

.post figure {
  margin: 60px auto;
}

.post img {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.post h1 {
  margin-bottom: 0;
}

.post h1+p {
 margin-top: 0;
}

.post h2 {
  margin-bottom: 0;
}

.post h2+p {
 margin-top: 0;
}

.img-splash {
  margin: 10px -30px;
  padding: 25px 0;
  background-color: #111;
}

.post li {
  text-align: left;
}

.img-splash .img-container {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.img-splash .img-container img {
  max-width: 100%;
}

.main {
  padding: 30px;
  padding-top: 0;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.post .title {
  text-align: left;
}

.post .date {
  text-align: left;
}

h1, h2, h3, h4, h5 {
  text-align: left;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

.main ul {
  text-align: left;
}

/* All of the below (between comments) is adapted from Bootstrap, trying to keep site size down as low as possible */
/* clearfix */
.clearfix:before, .clearfix:after, .container:before, .container:after, .col-2:before, .col-2:after, .col-3:before, .col-3:after, .row:before, .row:after {
    display: table;
    content: " ";
    clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-3, .col-2 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: 700px) {
  .col-3 {
    float: left;
  }

  .col-3 {
    width: 33.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-2 {
    float: left;
  }

  .col-2 {
    width: 50%;
  }
}

.posts>li {
  display: block;
  margin-bottom: 20px;
}

.posts a {
  font-weight: bold;
}

.posts .date {
  font-size: 0.9em;
}

.navbar {
  z-index: 2;
  background-color: transparent;
  border-color: transparent;
  position: relative;
}

.navbar-nav {
  list-style: none;
  float: right;
  margin: 0;
  margin-right: 25px;
}

.navbar a {
  text-decoration: none;
}

.navbar-nav>li {
  float: left;
  position: relative;
  display: block;
}

.navbar-nav>li>a {
  position: relative;
  display: block;
  margin: 15px 15px;
  margin-bottom: 1px;
  line-height: 20px;
}

.navbar-nav>li>a:hover {
  transition: .5s ease;
  color: #555;
}

.navbar-nav>li>a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: #ffa200;
  transition: width .5s ease;
}

.navbar-nav>li>a:hover:after {
  width: 100%;
  background: #ffa200;
}

.navbar-nav>li.active>a:after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  transition: .25s ease;
  background: #BF211E;
}

.navbar-nav>li.active>a:hover:after {
  background: #BF211E;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  margin-top: -4px;
  background: #ffa200;
  transition: width .4s ease;
}

.navbar-brand:hover:after {
  width: 100%;
  background: #ffa200;
}

.navbar-header {
  float: left;
}
/* End Bootstrap */

/* Subset of FontAwesome (fontawesome.com) */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-2x {
  font-size: 2em;
}
.fa-github:before {
  content: "\f09b";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-tumblr:before {
  content: "\f173";
}
/* End FontAwesome */

.masthead {
  background-color: #e6e6e6;
  color: #333;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
}

.masthead:after {
  content: '';
  display: block;
  width: 100%;
  bottom: -5px;
  position: absolute;
  border-top: 5px solid #333;
}

.masthead canvas {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .masthead .title {
    display: none !important;
  }

  .masthead .subtitle {
    display: none !important;
  }
}

.masthead .title {
  font-size: 3em;
  position: relative;
  z-index: 1;
}

.masthead .subtitle {
  position: relative;
  z-index: 1;
  padding-right: 80px;
}

.footer a,
.footer a:focus,
.footer a:hover {
  color: #fff;
}

.footer {
  font-size: 14px;
  background-color: #333;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 180px;
  font-weight: 100;
}

.footer .panel {
  display: block;
  float: left;
  margin: 10px 0px;
  height: 75%;
}

.footer .about {
  width: 50%;
  text-align: left;
  display: flex;
}

.footer .about .info {
  font-size: 0.9em;
  margin: 0 40px;
  float: right;
}

.footer .social {
  padding-top: 10px;
  border-left: 1px solid #555;
  width: 50%;
}

.avatar {
  margin-top: 20px;
}

.avatar > img {
  border-radius: 50%;
}

@media (max-width: 1127px) {
  .footer .about .more-info {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .footer .avatar {
    display: none !important;
  }
}

@media (max-width: 630px) {
  .footer .about {
    display: none !important;
  }

  .footer .social {
    width: 100%;
  }
}

.footer .social a {
  text-decoration: none;
}

.footer .social .fa {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding-top: 12px;
  border: 0;

  font-size: 2.5em;
  transition: background-color 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.footer .social .fa:hover {
  background-color: #555;
}

.sr-only {
  display: none;
}

.hover-card {
  position: relative;
  transition: opacity 500ms ease-in-out;
  box-shadow: 0 0px 0px rgba(0,0,0,0.3);
  transition: all 500ms cubic-bezier(0.19, 1.0, 0.22, 1.0);
  transform: translateY(0) scale(0.98, 0.98);
  overflow: hidden;

  opacity: 0;
}

.hover-card.active {
  box-shadow: 0 6px 11px rgba(0,0,0,0.2);
  transform: translateY(-3px) scale(1, 1);
}

.hover-card.loaded {
  opacity: 1;
}

.project-card {
/*  background-color: #fafafa;*/
  background-color: #000000;
  margin-bottom: 8px;
}

.project-card > .card-img > img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.19, 1.0, 0.22, 1.0);
}

.project-card.active > .card-img > img {
  transform: scale(1.1,1.1);
  opacity: 0.3;
}

.project-card > .title {
  position: absolute;
  padding: 0 5px;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  width: 100%;
  top: 20%;
  z-index: 1;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.19, 1.0, 0.22, 1.0);
}

.project-card.active > .title {
  opacity: 1;
}

.project-card a {
  color: #222;
}

a.div-linker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.portfolio-main {
  position: relative;
  margin: 10px auto;
  max-width: 950px;
  border-radius: 3px;
}

.portfolio-main img, .portfolio-thumb img {
  max-width:100%;
  max-height:100%;
}

.portfolio-thumb {
  padding: 0px;
  width: 80px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px #888;
  border-radius: 3px;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.portfolio-thumb:hover {
  cursor: pointer;
  opacity: 1.0;
}

.portfolio-thumb.active {
  opacity: 1.0;
}

.games {
  margin-top: 40px;
}

.game-card {
  margin: 8px auto;
  max-width: 900px;
  font-size: 14px;
}

.game-card > .game-image {
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.game-card > .game-image img {
  min-height: 190px;
  max-width: 150%;
  position: relative;
}

@media (min-width: 1200px) {
  .game-card > .game-image img {
    left: -50%; /* Re-center the image, as it stretches */
  }
}

@media (max-width: 690px) {
  .game-card > .game-image img {
    left: -50%; /* Re-center the image, as it stretches */
  }
}

.game-card .title {
  font-size: 1.2em;
  font-weight: bold;
}

.game-card .platform {
  font-weight: 200;
  font-style: italic;
}

.game-card .desc {
  font-weight: 200;
  margin-top: 10px;
}

.horiz-list-item:before {
  color: white;
  content: '|';
  margin: 0 7px;
  font-style: normal;
}

.game-card .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  color: white;
  text-align: left;

  opacity: 0;
  transition: all 700ms cubic-bezier(0.25, 0.02, 0.04, 1.0);
}

.game-card .caption > .inner {
  padding: 12px;
}

.game-card.active .caption {
  opacity: 1.0;
}

.game-card .image > img {
  transition: all 700ms cubic-bezier(0.19, 1.0, 0.22, 1.0);
}

.game-card.active .image > img {
  opacity: 0.3;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
  border-left: 3px solid #777
}

figcaption {
  font-style: italic;
  margin: 0 15%;
}
