@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}
body {
  color: #222;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: left;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.content {
    padding-top: 40px;
}

.navbar {
  margin-bottom: 0;
  background-color: white;
}

.masthead {
  /*background-image: url("/img/pw_maze_black.png");*/
  background-color: #333;
  height: 150px;
  margin-bottom: 30px;
  border-bottom: 5px solid #c12b32;
  padding-top: 40px;
}

.masthead .title {
  font-size: 3em;
  color: white;
}

/*
 * Footer
 */
.footer {
  /*background-image: url("/img/pw_maze_black.png");*/
  border-top: 2px solid #c12b32;
  background-color: #333;
  color: white;
}

.portfolio-box {
  background: #FFF center center no-repeat;
  width: 200px;
  height: 300px;
  border-radius: 3px;
  color: #222;
}

.portfolio-box a {
  color: #222;
}

.portfolio-box {
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  transform: translateY(0) scale(0.95, 0.95);
}

.portfolio-box.active {
  box-shadow: 0 11px 18px rgba(0,0,0,0.2);
  transform: translateX(-20px) translateY(-20px) scale(1, 1);
}

