<script type="text/javascript" src="//cdn.jsdelivr.net/cash/1.0.0/cash.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js" type="text/javascript" charset="utf-8"></script>
<script id="rippleVS" type="x-shader/x-vertex">
      precision mediump float;
      precision mediump int;

      uniform float time;
      varying vec4 vColor;

      void main() {
          float PI = 3.14159;

          float distFromCenter = length(position);

          vec3 posFinal = position;
          float offsetX = 0.5 * sin(position.x + time);
          float offsetY = 0.5 * cos(position.y + time);
          posFinal.x += offsetX;
          posFinal.y += offsetY;

          vColor = vec4(1.0,1.0,1.0,0.5) * vec4(1.0,1.0,1.0,offsetX+0.5);

          gl_Position = projectionMatrix * modelViewMatrix * vec4(posFinal, 1.0);
      }
</script>
<script id="rippleFS" type="x-shader/x-fragment">
  precision mediump float;
  precision mediump int;

  varying vec4 vColor;

  void main() {
      gl_FragColor = vColor;
  }
</script>
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
