<footer class="footer">
    <div class="panel about">
        <span class="avatar">
            <img src="https://gravatar.com/avatar/506b4e210602e1900e74e526a5143f1f?s=128"/>
        </span>
        <span class="info">
            <p>Hello! My name is Jacob. I'm an engineer, maker, and leader that loves to build all sorts of things, and in all kinds of styles. Right now, I lead engineering for <a href="https://mindbodyonline.com">Mindbody</a>, where I help everyone be the best version of themselves. I also work on illustration, games, creative coding, and interactive visualizations.</p>

            <p class="more-info">Before my Mindbody, I ran engineering for ClassPass, where I helped scale to millions of consumers. Previously, I ran engineering at <a href="https://en.wikipedia.org/wiki/Doppler_Labs">Doppler Labs</a>, working on the intersection of realtime audio hardware and AI. Before that, I worked at <a href="https://palantir.com">Palantir</a>, helping solve some of the world's biggest problems - poverty, disaster relief, healthcare access and more.</p>
        </span>
    </div>
    <div class="panel social">
        <a href="https://github.com/jacob-meacham" class="fa fa-github fa-2x"><span class="sr-only">Github</span></a>
        <a href="https://www.linkedin.com/in/jacob-meacham-b55745b" class="fa fa-linkedin fa-2x"><span class="sr-only">Linkedin</span></a>
        <a href="https://jemonjam.tumblr.com/" class="fa fa-tumblr fa-2x"><span class="sr-only">Tumblr</span></a>
        <a href="mailto://jacob.e.meacham@gmail.com" class="fa fa-envelope-o fa-2x"><span class="sr-only">Email</span></a>
    </div>
    <div class="copyright">© Jacob Meacham {{ 'now' | date: "%Y" }}</div>
</footer>
<script type="text/javascript" src="//cdn.jsdelivr.net/cash/1.0.0/cash.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js" type="text/javascript" charset="utf-8"></script>
<script>
// this function must be defined in the global scope
window.fadeIn = function(obj) {
    $(obj).fadeIn(1000);
}
</script>
<script id="backgroundVS" type="x-shader/x-vertex">
  attribute vec3 position;
  varying vec2 uv;

  void main() {
    gl_Position = vec4(position, 1.0);
    uv = vec2(position.x, position.y) * 0.5 + 0.5;
  }
</script>
<script id="backgroundFS" type="x-shader/x-fragment">
  precision mediump float;

  uniform vec3 color1;
  uniform vec3 color2;
  uniform vec2 offset;
  uniform vec2 scale;

  varying vec2 uv;

  void main() {
    vec2 center = vec2(uv - 0.5);
    center /= scale;
    center -= offset;
    float dst = length(center);
    dst = smoothstep(0.5, 1.0, dst);
    gl_FragColor.rgba = vec4(mix(color1, color2, dst), 1.0);
  }
</script>
<script id="rippleVS" type="x-shader/x-vertex">
  precision mediump float;
  precision mediump int;

  uniform float time;
  uniform vec2 mousePosition;
  varying vec4 vColor;

  void main() {
    float PI = 3.14159;

    vec2 vecToMouse = mousePosition-vec2(position.x, position.y);
    float distFromMouse = length(vecToMouse);
    vec2 attenuation = vec2(1.0, 1.0) / (vec2(1.0, 1.0) + vec2(0.1, 0.1)*distFromMouse + vec2(0.01, 0.01)*distFromMouse*distFromMouse);

    vec3 posFinal = position;
    float rippleFactor = sin(time+length(position));

    vec2 rippleOffset = vec2(rippleFactor * 0.3 * sin(position.x + time * 0.8), rippleFactor * 0.5 * cos(position.y + time * 0.8));
    vec2 offset = rippleOffset - normalize(vecToMouse) * attenuation;
    posFinal += vec3(offset, 0.0);

    vColor = vec4(0.88,0.88,0.88,1.0) * vec4(1.0,1.0,1.0, max(offset.y*1.5+0.5, 0.0));
    vColor.a += attenuation.x;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(posFinal, 1.0);
  }
</script>
<script id="rippleFS" type="x-shader/x-fragment">
  precision mediump float;
  precision mediump int;

  varying vec4 vColor;

  void main() {
      gl_FragColor = vColor;
  }
</script>
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
