<!doctype html>
<html lang="en">
{% include header.html %}
<body>
    <div class="masthead">
        <nav class="navbar navbar">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">jemonjam</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if page.group == "games" %}
                    <li class="active"><a href="/">GAMES</a></li>
                    {% else %}
                    <li><a href="/">GAMES</a></li>
                    {% endif %}
                    {% if page.group == "projects" %}
                    <li class="active"><a href="/projects">PROJECTS</a></li>
                    {% else %}
                    <li><a href="/projects">PROJECTS</a></li>
                    {% endif %}
                    <li><a href="http://jemonjam.tumblr.com/">ILLUSTRATION</a></li>
                    {% if page.group == "lab" %}
                    <li class="active"><a href="/lab">LAB</a></li>
                    {% else %}
                    <li><a href="/lab">LAB</a></li>
                    {% endif %}
                    {% if page.group == "about" %}
                    <li class="active"><a href="/about">ABOUT</a></li>
                    {% else %}
                    <li><a href="/about">ABOUT</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="title">{{page.title}}</div>
    </div>
    <main class="main">
        <div class="container">
            {{content}}
        </div>
    </main>
    <footer class="footer">
        <div class="inner">
            <p>Jacob Meacham 2015</p>
        </div>
    </footer>
    {% include footer.html %}
</body>
