<!doctype html>
<html lang="en">
{% include header.html %}
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">jemonjam</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/games">Games <span class="sr-only">(current)</span></a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/lab">Lab</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="masthead">
        <div class="title">{{page.title}}</div>
    </div>
    <main class="main">
        <div class="container">
            {{content}}
        </div>
    </main>
    <footer class="footer">
        <div class="inner">
            <p>Jacob Meacham 2015</p>
        </div>
    </footer>
    {% include footer.html %}
</body>
