<!doctype html>
<html lang="en">
{% include header.html %}
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">jemonjam</a>
        </div>
    </nav>
    <div class="masthead" />
    <main class="container-fluid">
        <div class="row content">
            <div class="span12">
                <div class="inner">
                    {{content}}
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="inner">
            <p>Jacob Meacham 2015</p>
        </div>
    </footer>
    {% include footer.html %}
</body>
